<div class="p-grid" >
    <div class="p-col">
        <p-toast></p-toast>
        <div class="card " style="margin-left: 4%">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openCreateCours()"  ></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-mb-2" (click)="deleteMultiple()" [disabled]="!coursList || !coursList.length"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="coursList" [columns]="cols" [rows]="4" [paginator]="true" [globalFilterFields]="['libelle','nombreLinkFinalise','nombreSectionFinalise']"
                     [(selection)]="coursLists" [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Manage Cours</h5>
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"  placeholder="Search..." />
                    </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="libelle">Libelle <p-sortIcon field="libelle"></p-sortIcon></th>
                        <th >Action </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cours>
                    <tr>
                        <td >
                            <p-tableCheckbox [value]="cours"></p-tableCheckbox>
                        </td>
                        <td [style.color]="(cours.nombreLinkFinalise+cours.nombreSectionFinalise) == 10? 'green' :(cours.nombreLinkFinalise+cours.nombreSectionFinalise) < 5? 'red':'orange' ">{{cours.libelle}} (c:
                            {{ cours.nombreSectionFinalise}},
                            L:{{ cours.nombreLinkFinalise}})</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editCours(cours)" ></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2" (click)="FindSection(cours)" ></button>
                            <button pButton pRipple icon="pi pi-plus-circle" class="p-button-rounded p-button-icon p-mr-2" (click)="AjoutSection(cours)" ></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(cours)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{coursList ? coursList.length : 0 }} items.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-cours-create></app-cours-create>
        <app-cours-edit></app-cours-edit>

        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
