    <div class="ui-g">
        <div class="ui-g-6">
            <img src="../assets/layout/images/logo-roma.svg" alt="roma-layout" />
            <p>Premium PrimeFaces Application Template</p>
        </div>
        <div class="ui-g-6 footer-icons">
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>