<div class="p-grid ">
    <div class="p-col">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4 inline">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"  ></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-mb-2"  ></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="classRoomList" [columns]="cols" [rows]="6" [paginator]="true" [globalFilterFields]="['libelle','description','etudiantClassRoomList','quizClassRoomList']"
                     [(selection)]="classRoomLists" [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">ClassRoom</h5>
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"  placeholder="Search..." />
                    </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="libelle">libelle <p-sortIcon field="libelle"></p-sortIcon></th>
                        <th pSortableColumn="description">description <p-sortIcon field="description"></p-sortIcon></th>
                        <th pSortableColumn="etudiantClassRoomList">etudiant <p-sortIcon field="etudiantClassRoomList"></p-sortIcon></th>
                        <th pSortableColumn="quizClassRoomList">Quiz <p-sortIcon field="quizClassRoomList"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-classRoom>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="classRoom"></p-tableCheckbox>
                        </td>
                        <td>{{classRoom.libelle}}</td>
                        <td>{{classRoom.description}}</td>
                        <td>

                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2" (click)="viewEtudiant(classRoom)" (click)="FindEtudiant(classRoom)" ></button>
                        </td>
                        <td>

                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2" (click)="viewQuiz(classRoom)" (click)="FindQuiz(classRoom)" ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{classRoomList ? classRoomList.length : 0 }} items.
                    </div>
                </ng-template>
            </p-table>
        </div>
        <app-etudiant-view></app-etudiant-view>
        <app-quiz-view></app-quiz-view>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

