<p-dialog [(visible)]="viewDialogSection" [style]="{width: '800px'}" header="Commande Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="libelle">Libelle</label>
            <input type="text" pInputText id="libelle" [(ngModel)]="section.libelle" disabled />
        </div>
        <div class="p-field">
            <label for="contenu">Contenu</label>
            <textarea type="text" pInputText id="contenu" [(ngModel)]="section.contenu" disabled ></textarea>
        </div>
        <div class="p-field">
            <label for="questions"> questions</label>
            <textarea type="text" pInputText id="questions" [(ngModel)]="section.questions" disabled ></textarea>
        </div>
        <div class="p-field">
            <label for="indicationProf">Indication Prof</label>
            <textarea type="text" pInputText id="indicationProf" [(ngModel)]="section.indicationProf" disabled ></textarea>
        </div>
        <div class="p-field">
            <label for="urlImage">url Image </label>
            <textarea type="text" pInputText id="urlImage" [(ngModel)]="section.urlImage" disabled ></textarea>
        </div>
        <div class="p-field">
            <label for="urlVideo">url Video </label>
            <textarea type="text" pInputText id="urlVideo" [(ngModel)]="section.urlVideo" disabled ></textarea>
        </div>
        <div class="p-field">
            <label for="cours">cours</label>
            <input type="text" pInputText id="cours" [(ngModel)]="section.cours.libelle" disabled />
        </div>
        <div class="p-field">
            <label for="categorieSection">categorieSection</label>
            <input type="text" pInputText id="categorieSection" [(ngModel)]="section.categorieSection.libelle" disabled />
        </div>


    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideViewDialog()"></button>
    </ng-template>
</p-dialog>
